apiVersion: v1
kind: Service
metadata:
  name: review-service
  namespace: nushungry-dev
  labels:
    app: review-service
    component: backend
spec:
  type: ClusterIP
  selector:
    app: review-service
  ports:
  - name: http
    port: 8084
    targetPort: 8084
    protocol: TCP
  sessionAffinity: None
