apiVersion: v1
kind: Service
metadata:
  name: media-service
  namespace: nushungry-dev
  labels:
    app: media-service
    component: backend
spec:
  type: ClusterIP
  selector:
    app: media-service
  ports:
  - name: http
    port: 8085
    targetPort: 8085
    protocol: TCP
  sessionAffinity: None
