apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: nushungry-dev
  labels:
    app: user-service
    component: backend
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
  - name: http
    port: 8081
    targetPort: 8081
    protocol: TCP
  sessionAffinity: None
