name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  unit-and-integration-tests:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp
          key: dependency-check-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            dependency-check-

      - name: Prepare test db
        run: docker run -d --name nushungry-mysql -e MYSQL_ROOT_PASSWORD=${{ secrets.SPRING_DATASOURCE_PASSWORD }} -e MYSQL_DATABASE=nushungry_db -p 3306:3306 mysql:8.0

      - name: Run unit and integration tests
        env:
          SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
        run: mvn test jacoco:report -DnvdApiKey=${{ secrets.NVD_API_KEY }}

      - name: Teardown
        run: docker rm -f nushungry-mysql

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            target/surefire-reports/
            target/site/jacoco/
          retention-days: 7
  sast:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp
          key: dependency-check-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            dependency-check-
      - name: Check code quality
        run: mvn compile spotbugs:check site -DnvdApiKey=${{ secrets.NVD_API_KEY }}

      - name: Upload SAST results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: sast-results
          path: target/site/*.html
  owasp-dependency-check:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Cache OWASP Dependency-Check data
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp
          key: dependency-check-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            dependency-check-
      - name: Dependency scan
        run: mvn compile dependency-check:check -Ddependency-check.skip=false -DnvdApiKey=${{ secrets.NVD_API_KEY }} -Dossindex.username=chowjss@gmail.com -Dossindex.password=y${{ secrets.OSS_INDEX_TOKEN }} -DfailBuildOnCVSS=11 -Dformats=HTML

      - name: Upload dependency scan results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: owasp-dependency-scan-results
          path: target/dependency-check-report.html
  check-style:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp
          key: dependency-check-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            dependency-check-
      - name: Check code style
        run: mvn checkstyle:checkstyle -DnvdApiKey=${{ secrets.NVD_API_KEY }}
      - name: Upload check style results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: check-style-results
          path: target/reports/checkstyle.html
  container-scan:
    environment: dev
    runs-on: ubuntu-latest
    needs: ["unit-and-integration-tests", "sast", "owasp-dependency-check","check-style"]
    steps:
      - uses: actions/checkout@v4
      - uses: snyk/actions/setup@master
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository/org/owasp
          key: dependency-check-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            dependency-check-
      - name: Package
        run: mvn package -DskipTests
      - name: Build image for scanning
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          docker build -t testimage .
          docker image ls
          snyk container test testimage:latest --file=Dockerfile --severity-threshold=high --fail-on=upgradable
        continue-on-error: true