name: Manual Deploy
on:
  push:
    branches: [ "feat/complete-backend-cicd" ]
  pull_request:
    branches: [ "feat/complete-backend-cicd" ]
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy'
        required: true
        default: 'latest'
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Deploy new image version
        run: aws ecs update-service --cluster nushungry-cluster --service nushungry-service --force-new-deployment